<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{{assets_url}}}assets/uitotop/js/easing.js?version={{resVersion}}"></script>
<script type="text/javascript" src="{{{assets_url}}}assets/uitotop/js/jquery.ui.totop.min.js?version={{resVersion}}"></script>
<script src="{{{assets_url}}}assets/js/app.js?version={{resVersion}}"></script>
<!--[if lt IE 8]><script src="{{{assets_url}}}assets/js/noLtIE8.js?version={{resVersion}}"></script><![endif]-->
{{#if postFlag}}
<!-- JiaThis Button BEGIN -->
<script type="text/javascript" >
    var jiathis_config={
        data_track_clickback:true,
        shortUrl:false,
        hideMore:false
    }
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1879675" charset="utf-8"></script>
<!-- JiaThis Button END -->
{{/if}}