<div class="toolbar">
    <div class="nav-wrapper clearfix">
        <ul class="nav-list">
            <li>
                <a href="{{{website_url}}}tag/javascript">Javascript</a>
            </li>
            <li>
                <a href="{{{website_url}}}tag/NodeJs">NodeJs</a>
            </li>
            <li>
                <a href="{{{website_url}}}tag/html5">Html5</a>
            </li>
            <li>
                <a href="{{{website_url}}}tag/RaspberryPi">Raspberry Pi</a>
            </li>
            <li>
                <a href="{{{website_url}}}tag/metalsmith">Metalsmith</a>
            </li>
        </ul>

        <ul class="nav-list menu">
            <li>
                <a href="{{{website_url}}}about.html">关于我</a>
            </li>
            <li>
                <a href="/mobile/">
                    <i class="mobile_icon"></i><span class="mobile_msg">手机访问</span>
                </a>
            </li>
        </ul>
    </div>
</div>