<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="keyword" content="{{kewords}}">
    <meta name="description" content="{{description}}">
    <title>{{title}} - {{website_name}} - {{{website_slogan}}}</title>
    {{include "_head_res.html"}}
</head>

<body>
{{include "_toolbar.html"}}

{{include "_header.html"}}

<div class="wrapper">
    <article class="post">
        <header class="post-header">
            <span class="post-meta">{{ sub_title }}</span>
            <h2>{{ title }}</h2>
        </header>

        {{{ contents }}}
        
    </article>

    {{include "_comment.html"}}

</div>

{{include "_footer.html"}}

{{include "_body_res.html"}}
</body>
</html>
